cloudmine-android-v*
cloudmine-java-v*
.swp
.#*
*.class
.idea/
*.iml
.history
TestGrounds/
out/
reports
javadocs
*.trace
*.html
src/gen/
# Package Files #
*.jar
*.war
*.ear
target
.DS_Store
cloudmine-android-v*.zip
dropbox_upload_test.txt
*.org
.gradle/
